<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for ('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.css" integrity="sha512-9PSp7LjOrKa8teKpNGcBfno5hk3BhDCDAs4CKjZ/aQpaVqQ/VmHV+WBjWUV2KjXySB5CbVt4/Qu8KeCVt+HvGg==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.rtl.min.css" integrity="sha512-YVfG8cnqUceer6857SRwaXWhyyRocgEKvexDoRQOKOLrn/wDLPnhVsQmQw+2XtsG6qTOqn/biesJF3FdSVzirQ==" crossorigin="anonymous" />
      {%block title%} {% endblock %}

  </head>
  <body>
    {%block content%}
    {% endblock %}
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.2.0/mdb.min.js" integrity="sha512-QK+7gw6IeW5F8H7H9oVBM8w4fdd6hsSfUxCGguaWDwZaZU3DH/NneMxqQyhYQPppAIAAew79G578jrUokfsFyw==" crossorigin="anonymous"></script>
  </body>
</html>